body {
  background-color: $neutral-light-gray;
  position: relative;
}

// Styles for sections in different parts
.add-comment-field-wrapper {
  flex-grow: 1;
  position: relative;
  // Preventing side elements to get smaller
  flex-shrink: 1000;
  margin: 0 16px;
  .add-comment-field {
    width: 100%;
    min-height: 96px;
    border-radius: 8px;
    border: 1px solid $neutral-light-gray;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: $regular-weight;
    line-height: 26px;
    color: $neutral-dark-blue;
    transition: border-color 0.2s ease;
    outline: none;
    &:focus {
      border-color: $neutral-grayish-blue;
    }
    &::placeholder {
      color: #a5a5a5;
      font-size: 16px;
      font-weight: $medium-weight;
    }
  }
  &::after {
    content: "Please fill out this field.";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    border-radius: 57px;
    padding: 10px 25px;
    background-color: #ff6666;
    color: #f3f3f3;
    font-size: 13px;
    display: none;
  }
}

@keyframes shake-horizontal {
  0% {
    left: 50%;
  }
  25% {
    left: 51%;
  }
  75% {
    left: 49%;
  }
  100% {
    left: 50%;
  }
}

.primary-btn {
  width: 104px;
  height: 46px;
  @include flex-center;
  background-color: $primary-moderate-blue;
  border-radius: 8px;
  color: $neutral-white;
  font-size: 16px;
  font-weight: $medium-weight;
  transition: background-color 0.4s ease;
  cursor: pointer;
  &:hover {
    background-color: $primary-light-grayish-blue;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  @include flex-center;
  transition: opacity 0.6s ease;
  display: none;
  .modal-wrapper {
    max-width: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: $neutral-white;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.6s ease;
    .modal-title {
      color: $neutral-dark-blue;
      font-size: 24px;
      font-weight: $bold-weight;
    }
    .modal-desc {
      font-size: 17px;
      font-weight: $regular-weight;
      line-height: 26px;
      color: $neutral-grayish-blue;
      margin: 16px 0 24px;
      padding-right: 24px;
    }
    .modal-footer {
      display: flex;
      justify-content: space-between;
      button {
        width: 160px;
        height: 50px;
        @include flex-center;
        border-radius: 8px;
        color: $neutral-white;
        font-size: 17px;
        font-weight: $medium-weight;
        cursor: pointer;
      }
      .cancel-modal-btn {
        background-color: $neutral-grayish-blue;
      }
      .delete-modal-btn {
        background-color: $primary-soft-red;
      }
    }
  }
}

.container {
  max-width: 730px;
  margin: 64px auto;
  .comment-reply-wrapper {
    max-width: 100%;
    margin-bottom: 20px;
    transition: opacity 0.6s ease;
    .comment-wrapper {
      .comment {
        background-color: #fff;
        border-radius: 8px;
        padding: 24px;
        display: flex;
        align-items: flex-start;
        box-shadow: 0 0 10px 2px $neutral-light-gray;
        .comment-upvote-downvote {
          background-color: $neutral-light-gray;
          border-radius: 8px;
          padding: 14px 10px;
          min-width: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 24px;
          .upvote-icon,
          .downvote-icon {
            width: 11px;
            height: 11px;
            @include flex-center;
            cursor: pointer;
            svg path {
              fill: $primary-light-grayish-blue;
              transition: fill 0.4s ease;
            }
            &:hover svg path {
              fill: $primary-moderate-blue;
            }
          }
          .rate-number {
            margin: 16px 0;
            font-size: 17px;
            color: $primary-moderate-blue;
            font-weight: $bold-weight;
          }
        }
        .comment-detail {
          width: 100%;
          .comment-detail-header {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .comment-detail-header-left {
              display: flex;
              align-items: center;
              .comment-thumbnail {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .comment-username {
                margin: 0 16px;
                color: $neutral-dark-blue;
                font-size: 17px;
                font-weight: $bold-weight;
              }
              .comment-date {
                font-size: 16px;
                font-weight: $regular-weight;
                color: $neutral-grayish-blue;
              }
            }
            .comment-detail-header-right {
              .comment-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                svg {
                  margin-right: 8px;
                  width: 14px;
                  height: 13px;
                  path {
                    transition: fill 0.4s ease;
                  }
                }
                span {
                  font-size: 16px;
                  font-weight: $bold-weight;
                }
              }
              .reply-btn,
              .edit-btn {
                color: $primary-moderate-blue;
                transition: color 0.4s ease;
                &:hover {
                  color: $primary-light-grayish-blue;
                  svg path {
                    fill: $primary-light-grayish-blue;
                  }
                }
              }
            }
          }
          .comment-detail-body p {
            color: $neutral-grayish-blue;
            font-size: 16px;
            font-weight: $regular-weight;
            line-height: 26px;
            padding-right: 28px;
          }
        }
      }
      .comment-edit {
        .comment-detail {
          width: 100%;
          .comment-detail-body {
            display: flex;
            .add-comment-field {
              margin: 0;
            }
          }
          .comment-update {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
          }
        }
      }
      .add-comment-wrapper {
        margin-top: 12px;
      }
    }
    .comment-wrapper:not(:last-child) {
      margin-bottom: 20px;
    }
    .reply-wrapper {
      padding-left: 94px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 46px;
        width: 2px;
        border-radius: 8px;
        background-color: rgba(222, 222, 224, 0.94);
      }
      .reply-comment-wrapper {
        transition: opacity 0.6s ease;
        .comment {
          .comment-detail .comment-detail-body p {
            padding-right: 8px;
            .replied-username {
              font-weight: $medium-weight;
              color: $primary-moderate-blue;
            }
          }
        }
      }
    }
    .active-user-comment .comment {
      .comment-detail {
        .comment-detail-header-left {
          .comment-username {
            margin-right: 12px !important;
          }
          .active-user-badge {
            padding: 2px 6px;
            background-color: $primary-moderate-blue;
            color: $neutral-white;
            font-size: 13px;
            border-radius: 2px;
            font-weight: $medium-weight;
            margin-right: 16px;
          }
        }
        .comment-detail-header-right {
          display: flex;
          .delete-btn {
            color: $primary-soft-red;
            transition: color 0.4s ease;
            &:hover {
              color: $primary-pale-red;
              svg path {
                fill: $primary-pale-red;
              }
            }
          }
          .edit-btn {
            margin-left: 24px;
          }
        }
      }
    }
  }
  .add-comment-wrapper {
    display: flex;
    background-color: $neutral-white;
    padding: 28px 24px;
    max-width: 100%;
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px $neutral-light-gray;
    .add-comment-thumb {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
