@media screen and (max-width: 795px) {
  .container {
    margin: 64px 32px;
    .comment-reply-wrapper {
      margin-bottom: 18px;
      .comment {
        padding: 20px;
        display: flex;
        flex-direction: column;
        .comment-detail-header {
          margin-bottom: 14px;
        }
        .comment-detail-body {
          padding-right: 12px;
        }
        .comment-detail-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          .comment-upvote-downvote {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: 0;
            padding: 10px 14px;
            .rate-number {
              margin: 0 16px;
            }
          }

          .comment-btns {
            display: flex;
            .edit-btn {
              margin-left: 22px;
            }
          }
        }
      }
      .comment-edit {
        .comment-update {
          margin: 16px 0;
        }
      }
      .add-comment-wrapper {
        margin-top: 16px;
      }
      .comment-wrapper:not(:last-child) {
        margin-bottom: 16px;
      }
      .reply-wrapper {
        padding-left: 32px;
        &::before {
          left: 0;
        }
      }
      .active-user-comment .comment {
        .comment-detail-header-left {
          .comment-username {
            margin-right: 8px !important;
          }
        }
      }
    }
    .add-comment-wrapper {
      padding: 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .add-comment-thumb {
        width: 32px;
        height: 32px;
        order: 1;
      }
      .add-comment-field {
        order: 0;
        width: 100%;
        margin: 0 0 20px;
      }
      .primary-btn {
        order: 2;
      }
    }
  }
}
