// Color variables
$primary-moderate-blue: #5457b6;
$primary-soft-red: #ed6468;
$primary-light-grayish-blue: #c3c4ef;
$primary-pale-red: #ffb8bb;

$neutral-dark-blue: #324152;
$neutral-grayish-blue: #67727e;
$neutral-light-gray: #eaecf1;
$neutral-very-light-gray: #f5f6fa;
$neutral-white: #ffffff;

// Font variables
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
