* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
}

a {
  text-decoration: none;
}

li,
ol {
  list-style-type: none;
}

button {
  border: none;
}

textarea {
  resize: none;
  field-sizing: content;
}

body {
  background-color: #eaecf1;
  position: relative;
}

.add-comment-field {
  flex-grow: 1;
  margin: 0 16px;
  min-height: 96px;
  border-radius: 8px;
  border: 1px solid #eaecf1;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #324152;
  transition: border-color 0.2s ease;
  outline: none;
}
.add-comment-field:focus {
  border-color: #67727e;
}
.add-comment-field ::-moz-placeholder {
  color: #a5a5a5;
  font-size: 16px;
  font-weight: 500;
}
.add-comment-field ::placeholder {
  color: #a5a5a5;
  font-size: 16px;
  font-weight: 500;
}

.primary-btn {
  width: 104px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5457b6;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #c3c4ef;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-overlay .modal-wrapper {
  max-width: 400px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.modal-overlay .modal-wrapper .modal-title {
  color: #324152;
  font-size: 24px;
  font-weight: 700;
}
.modal-overlay .modal-wrapper .modal-desc {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #67727e;
  margin: 16px 0 24px;
  padding-right: 24px;
}
.modal-overlay .modal-wrapper .modal-footer {
  display: flex;
  justify-content: space-between;
}
.modal-overlay .modal-wrapper .modal-footer button {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.modal-overlay .modal-wrapper .modal-footer .cancel-modal-btn {
  background-color: #67727e;
}
.modal-overlay .modal-wrapper .modal-footer .delete-modal-btn {
  background-color: #ed6468;
}

.container {
  max-width: 730px;
  margin: 64px auto;
}
.container .comment-reply-wrapper {
  max-width: 100%;
  margin-bottom: 20px;
}
.container .comment-reply-wrapper .comment-wrapper .comment {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 0 10px 2px #eaecf1;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-upvote-downvote {
  background-color: #eaecf1;
  border-radius: 8px;
  padding: 14px 10px;
  min-width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-upvote-downvote .upvote-icon,
.container .comment-reply-wrapper .comment-wrapper .comment .comment-upvote-downvote .downvote-icon {
  width: 11px;
  height: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-upvote-downvote .upvote-icon svg path,
.container .comment-reply-wrapper .comment-wrapper .comment .comment-upvote-downvote .downvote-icon svg path {
  fill: #c3c4ef;
  transition: fill 0.4s ease;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-upvote-downvote .upvote-icon:hover svg path,
.container .comment-reply-wrapper .comment-wrapper .comment .comment-upvote-downvote .downvote-icon:hover svg path {
  fill: #5457b6;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-upvote-downvote .rate-number {
  margin: 16px 0;
  font-size: 17px;
  color: #5457b6;
  font-weight: 700;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-left {
  display: flex;
  align-items: center;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-left .comment-thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-left .comment-thumbnail img {
  width: 100%;
  height: 100%;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-left .comment-username {
  margin: 0 16px;
  color: #324152;
  font-size: 17px;
  font-weight: 700;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-left .comment-date {
  font-size: 16px;
  font-weight: 400;
  color: #67727e;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .comment-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .comment-btn svg {
  margin-right: 8px;
  width: 14px;
  height: 13px;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .comment-btn svg path {
  transition: fill 0.4s ease;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .comment-btn span {
  font-size: 16px;
  font-weight: 700;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .reply-btn,
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .edit-btn {
  color: #5457b6;
  transition: color 0.4s ease;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .reply-btn:hover,
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .edit-btn:hover {
  color: #c3c4ef;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .reply-btn:hover svg path,
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-header .comment-detail-header-right .edit-btn:hover svg path {
  fill: #c3c4ef;
}
.container .comment-reply-wrapper .comment-wrapper .comment .comment-detail .comment-detail-body p {
  color: #67727e;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-right: 28px;
}
.container .comment-reply-wrapper .comment-wrapper .comment-edit .comment-detail {
  width: 100%;
}
.container .comment-reply-wrapper .comment-wrapper .comment-edit .comment-detail .comment-detail-body {
  display: flex;
}
.container .comment-reply-wrapper .comment-wrapper .comment-edit .comment-detail .comment-detail-body .add-comment-field {
  margin: 0;
}
.container .comment-reply-wrapper .comment-wrapper .comment-edit .comment-detail .comment-update {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.container .comment-reply-wrapper .comment-wrapper .add-comment-wrapper {
  margin-top: 12px;
}
.container .comment-reply-wrapper .comment-wrapper:not(:last-child) {
  margin-bottom: 20px;
}
.container .comment-reply-wrapper .reply-wrapper {
  padding-left: 94px;
  position: relative;
}
.container .comment-reply-wrapper .reply-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 46px;
  width: 2px;
  border-radius: 8px;
  background-color: rgba(222, 222, 224, 0.94);
}
.container .comment-reply-wrapper .reply-wrapper .reply-comment-wrapper .comment .comment-detail .comment-detail-body p {
  padding-right: 8px;
}
.container .comment-reply-wrapper .reply-wrapper .reply-comment-wrapper .comment .comment-detail .comment-detail-body p .replied-username {
  font-weight: 500;
  color: #5457b6;
}
.container .comment-reply-wrapper .active-user-comment .comment .comment-detail .comment-detail-header-left .comment-username {
  margin-right: 12px !important;
}
.container .comment-reply-wrapper .active-user-comment .comment .comment-detail .comment-detail-header-left .active-user-badge {
  padding: 2px 6px;
  background-color: #5457b6;
  color: #ffffff;
  font-size: 13px;
  border-radius: 2px;
  font-weight: 500;
  margin-right: 16px;
}
.container .comment-reply-wrapper .active-user-comment .comment .comment-detail .comment-detail-header-right {
  display: flex;
}
.container .comment-reply-wrapper .active-user-comment .comment .comment-detail .comment-detail-header-right .delete-btn {
  color: #ed6468;
  transition: color 0.4s ease;
}
.container .comment-reply-wrapper .active-user-comment .comment .comment-detail .comment-detail-header-right .delete-btn:hover {
  color: #ffb8bb;
}
.container .comment-reply-wrapper .active-user-comment .comment .comment-detail .comment-detail-header-right .delete-btn:hover svg path {
  fill: #ffb8bb;
}
.container .comment-reply-wrapper .active-user-comment .comment .comment-detail .comment-detail-header-right .edit-btn {
  margin-left: 24px;
}
.container .add-comment-wrapper {
  display: flex;
  background-color: #ffffff;
  padding: 28px 24px;
  max-width: 100%;
  align-items: flex-start;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px #eaecf1;
}
.container .add-comment-wrapper .add-comment-thumb {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  overflow: hidden;
}
.container .add-comment-wrapper .add-comment-thumb img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 794px) {
  .container {
    margin: 64px 32px;
  }
  .container .comment-reply-wrapper {
    margin-bottom: 18px;
  }
  .container .comment-reply-wrapper .comment {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .container .comment-reply-wrapper .comment .comment-detail-header {
    margin-bottom: 14px;
  }
  .container .comment-reply-wrapper .comment .comment-detail-body {
    padding-right: 12px;
  }
  .container .comment-reply-wrapper .comment .comment-detail-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .container .comment-reply-wrapper .comment .comment-detail-footer .comment-upvote-downvote {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    padding: 10px 14px;
  }
  .container .comment-reply-wrapper .comment .comment-detail-footer .comment-upvote-downvote .rate-number {
    margin: 0 16px;
  }
  .container .comment-reply-wrapper .comment .comment-detail-footer .comment-btns {
    display: flex;
  }
  .container .comment-reply-wrapper .comment .comment-detail-footer .comment-btns .edit-btn {
    margin-left: 22px;
  }
  .container .comment-reply-wrapper .comment-edit .comment-update {
    margin: 16px 0;
  }
  .container .comment-reply-wrapper .add-comment-wrapper {
    margin-top: 16px;
  }
  .container .comment-reply-wrapper .comment-wrapper:not(:last-child) {
    margin-bottom: 16px;
  }
  .container .comment-reply-wrapper .reply-wrapper {
    padding-left: 32px;
  }
  .container .comment-reply-wrapper .reply-wrapper::before {
    left: 0;
  }
  .container .comment-reply-wrapper .active-user-comment .comment .comment-detail-header-left .comment-username {
    margin-right: 8px !important;
  }
  .container .add-comment-wrapper {
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .container .add-comment-wrapper .add-comment-thumb {
    width: 32px;
    height: 32px;
    order: 1;
  }
  .container .add-comment-wrapper .add-comment-field {
    order: 0;
    width: 100%;
    margin: 0 0 20px;
  }
  .container .add-comment-wrapper .primary-btn {
    order: 2;
  }
}
@media screen and (max-width: 480px) {
  .modal-overlay {
    padding: 0 16px;
  }
  .modal-overlay .modal-wrapper {
    width: 100%;
    padding: 24px 28px;
  }
  .modal-overlay .modal-wrapper .modal-title {
    font-size: 22px;
  }
  .modal-overlay .modal-wrapper .modal-desc {
    padding-right: 0;
    margin-bottom: 20px;
  }
  .modal-overlay .modal-wrapper .modal-footer {
    width: 100%;
  }
  .modal-overlay .modal-wrapper .modal-footer button {
    height: 48px;
    flex-basis: 50%;
  }
  .modal-overlay .modal-wrapper .modal-footer button:first-child {
    margin-right: 16px;
  }
  .container {
    margin: 32px 16px;
  }
  .container .comment-reply-wrapper {
    margin-bottom: 16px;
  }
  .container .comment-reply-wrapper .comment {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  .container .comment-reply-wrapper .comment .comment-detail-header {
    margin-bottom: 16px;
  }
  .container .comment-reply-wrapper .comment .comment-detail-body {
    padding-right: 0;
  }
  .container .comment-reply-wrapper .comment .comment-detail-footer {
    margin-top: 16px;
  }
  .container .comment-reply-wrapper .comment .comment-btns .edit-btn {
    margin-left: 20px;
  }
  .container .comment-edit .reply-wrapper {
    padding-left: 18px;
  }
  .container .add-comment-wrapper {
    padding: 16px;
  }
  .container .add-comment-wrapper .add-comment-field {
    margin: 0 0 16px;
  }
}/*# sourceMappingURL=style.css.map */